<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <div *ngFor="let p of pages" (click)="openPage(p)">
        <button menuClose ion-item>
          {{p.title}}
        </button>
      </div>

      <div *ngFor="let p of invitedPages" (click)="openPage(p)">
        <button menuClose ion-item *ngIf="!auth.token">
          {{p.title}}
        </button>
      </div>

      <button menuClose ion-item (click)="logOut()" *ngIf="!!auth.token">
        Cerrar Sesión
      </button>


    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
